.custom-fielset fieldset.form-item{
    border: 0;
    background-color: transparent;
}
.custom-fielset .custom_fielset_wrapper{
    border: 1px solid #b8b8b8;
    padding: 20px;
    margin-bottom: 20px;
}
.custom-fielset .custom_fielset_wrapper input.button{
    margin: 15px 0 0;
}